@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Kathmandu<br />
    <br />
    <abbr title="Phone">P:</abbr>
    98000000000
</address>

<address>
    <strong>Support:</strong> <a href="http://www.nepalstock.com/">Stock Market Live</a><br />
    <strong>Marketing:</strong> <a href="http://www.nepalstock.com/">Nepal Stock Exchange</a>
</address>
